* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --main-color: rgb(51, 68, 85);
    --main-borders: rgb(51 68 85 / 30%);
    --second-color: #2b57ef;
    --third-color: #a44ed0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    z-index: 1000;
}

/* NFT cup */
.cupcup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 470px;
    height: 450px;
}
.cup-container{
    position: relative;
}
.cup {
    position: relative;
    width: 280px;
    height: 180px;
    background: linear-gradient(to top, var(--second-color), #5b6191);
    border-bottom-left-radius: 125px 160px;
    border-bottom-right-radius: 125px 160px;
}
.cup-top {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    border-radius: 50%;
}
.cup-circle-top {
    position: absolute;
    top: 0px;
    left: 20px;
    width: calc(100% - 40px);
    height: 60px;
    background: linear-gradient(to top, #5a55f0, #6245ed);
    border-radius: 50%;
    z-index: 3;
}
.cup-handle {
    position: absolute;
    right: -50px;
    top: 5px;
    width: 140px;
    height: 160px;
    border: 20px solid transparent;
    border-top-width: 40px;
    border-left-width: 60px;
    border-radius: 150% 65%;
    background: linear-gradient(white, white) padding-box, linear-gradient(to top, #2b58f3, #5b6191) border-box;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.cup-vapour, .cup-vapour-two, .cup-vapour-lines {
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: center;
}
.cup-vapour span {
    position: relative;
    bottom: 0px;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border-radius: 2px;
    animation: nftea 6s linear infinite;
    animation-delay: calc(var(--i) * -0.5s);
}
.cup-vapour-two {
    position: relative;
    left: 20px;
    top: -250px;
    width: 240px;
    height: 260px;
    overflow: hidden;
}
.cup-vapour-two .mid-vapour {
    position: absolute;
    width: 123px;
    height: 465px;
    left: calc(50% - 61.5px);
    background: url("../img/vapour.png") repeat-y center;
    background-size: 123px;
}
.vap1 {
    top: 0;
    animation: vap1 6s linear infinite;
}
.vap2 {
    top: 465px;
    animation: vap2 6s linear infinite;
}
/* End of NFT cup */

/* NFT cup in nav bar */
.cupcup-header {
    width: 84px;
    height: 80px;
}
.cup-header {
    width: 62px;
    height: 32px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
.cup-top-header {
    top: -7px;
    height: 14px;
}
.cup-circle-top-header {
    left: 4px;
    width: calc(100% - 8px);
    height: 10px;
}
.cup-handle-header {
    right: -9px;
    top: 1px;
    width: 28px;
    height: 30px;
    border: 4px solid transparent;
    border-top-width: 7px;
    border-left-width: 11px;
}
.cup-vapour-header span {
    position: relative;
    bottom: 0px;
    display: inline-block;
    min-width: 4px;
    min-height: 4px;
    border-radius: 1px;
    animation: nftea 6s linear infinite;
    animation-delay: calc(var(--i) * -0.5s);
}
.cup-vapour-two-header {
    left: 0;
    top: -64px;
    width: 55px;
    height: 60px;
    overflow: hidden;
}
.cup-vapour-two-header .mid-vapour {
    position: absolute;
    width: 29px;
    height: 110px;
    left: calc(50% - 15px);
    background: url("../img/vapour.png") repeat-y center;
    background-size: 29.1px;
}
.vap1-header {
    top: 0;
    animation: vap1-h 4s linear infinite;
}
.vap2-header {
    top: 110px;
    animation: vap2-h 4s linear infinite;
}
/* End of NFT cup in nav bar */

/* Animation of NFT cup + NFT cup nav */
@keyframes vap1 {
    0% {
        top: 232.5px;
    }
    100% {
        top: -232.5px;
    }
}
@keyframes vap2 {
    0% {
        top: -232.5px;
    }
    100% {
        top: -697.5px;
    }
}
@keyframes vap1-h {
    0% {
        top: 65px;
    }
    100% {
        top: -45px;
    }
}
@keyframes vap2-h {
    0% {
        top: -45px;
    }
    100% {
        top: -155px;
    }
}

@keyframes nftea {
    0% {
        transform: translateY(0) scale(1);
        background: #6245ed;
    }
    90% {
        opacity: 1;
        background: var(--third-color);
    }
    100% {
        transform: translateY(-200px) scale(2);
        background: var(--third-color);
        opacity: 0;
    }
}
/* End of animation of NFT cup + NFT cup nav */


.nftea-header {
    position: relative;
    font-size: 26px;
    padding-left: 25px;
    margin-left: 25px;
    font-weight: 700;
}
.nftea-header span {
    color: var(--second-color);
}
.nftea-header::before {
    content: "";
    position: absolute;
    height: 60px;
    left: 0;
    top: calc(50% - 30px);
    border-left: 4px solid var(--third-color);
}
.nav-link-mod, .btn-login {
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(to right, rgb(164 78 208 / 30%), white, rgb(164 78 208 / 30%)); */
    border: 1px solid var(--main-borders) !important;
}
.nav-link-mod::before, .btn-login::before {
    content: "";
    position: absolute;
    top: var(--y, 50%);
    left: var(--x, 50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--third-color);
    transition: width 0.5s, height 0.5s;
    transform: translate(-50%, -50%);
}
.nav-link-mod:hover::before, .btn-login:hover::before {
    width: 400px;
    height: 400px;
}
.nav-link-mod span, .btn-login span {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    z-index: 1;
    transition: 0.5s;
}
.nav-link-mod span:hover, .btn-login span:hover {
    color: #fff;
}
.btn-login {
    /* background: linear-gradient(to right, rgb(43 87 239 / 30%), white, rgb(43 87 239 / 30%)); */
}
.btn-login::before {
    background-color: var(--second-color);
}
.btn-login span {
    font-size: 20px;
    font-weight: 600;
}
.cloud {
    position: relative;
    top: 100px;
    width: 470px;
    z-index: 100;
    animation: cloud 5s ease-in-out infinite;
}
.cloud div svg {
    position: absolute;
    width: 70px;
}
.nft-cloud {
    position: relative;
    left: calc(50% - 110px);
    width: 220px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(to top, var(--second-color), var(--third-color), var(--third-color));
    filter: blur(4px);
}
.nft-cloud::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 20px;
    width: 80px;
    height: 80px;
    filter: blur(4px);
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--third-color), var(--third-color), var(--second-color));
    box-shadow: 60px 20px 20px 30px var(--third-color), 60px -10px 5px 30px var(--second-color);
}
.cloud-icon {
    position: absolute;
    top: -50px;
    left: calc(50% - 65px);
    width: 130px;
    animation: cloud-icon 5s ease infinite;
}
.btc-cloud {
    position: absolute;
    top: 0px;
    left: calc(50% - 180px);
    width: 150px;
    height: 100px;
    filter: blur(4px);
    border-radius: 50px;
    background: linear-gradient(to bottom, var(--third-color), var(--third-color), var(--second-color));
}
.svg-btc {
    left: calc(50% - 165px);
    top: 15px;
    fill: url(#gradient-fill-btc) #000;
}
.eth-cloud {
    position: absolute;
    top: -90px;
    left: calc(50% + 40px);
    width: 110px;
    height: 110px;
    filter: blur(4px);
    border-radius: 50%;
    background: linear-gradient(45deg, var(--third-color), var(--third-color), var(--second-color));
}
.svg-eth {
    left: calc(50% + 60px);
    top: -70px;
    transform: rotate(15deg);
    fill: url(#gradient-fill-eth) #000;
}
.itc-cloud {
    position: absolute;
    top: -10px;
    left: calc(50% + 40px);
    width: 150px;
    height: 110px;
    filter: blur(4px);
    border-radius: 55px;
    background: linear-gradient(to bottom, var(--third-color), var(--third-color), var(--second-color));
}
.svg-itc {
    left: calc(50% + 100px);
    top: 10px;
    transform: rotate(-15deg);
    fill: url(#gradient-fill-eth) #000;
}
.cloud-itc-ani {
    animation: cloud-itc 3s ease infinite;
}
.cloud-eth-ani {
    animation: cloud-eth 5s ease infinite;
}
.cloud-btc-ani {
    animation: cloud-btc 7s ease infinite;
}
@keyframes cloud {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes cloud-itc {
    0% {
        transform: translate(0) rotate(0);
    }
    50% {
        transform: translate(-20px, -20px) rotate(10deg);
    }
    100% {
        transform: translate(0) rotate(0);
    }
}
@keyframes cloud-eth {
    0% {
        transform: translate(0) rotate(0);
    }
    50% {
        transform: translate(-20px, 10px) rotate(15deg);
    }
    100% {
        transform: translate(0) rotate(0);
    }
}
@keyframes cloud-btc {
    0% {
        transform: translateX(0) rotate(0);
    }
    50% {
        transform: translateX(20px) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}
@keyframes cloud-icon {
    0% {
        transform: rotateY(0);
    }
    5% {
        transform: rotateY(180deg);
    }
    10% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(0);
    }
}