*
{
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--second-color);
    transition: 0.5s;
}
body.active
{
    background: var(--third-color);
}

.Account
{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    background-color: var(--second-color-lighter);
    border-radius: 15px;
    transition: 0.5s;
}

body.active .Account
{
    background-color: var(--third-color-lighter);
}

.blueBg
{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420ox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.blueBg .box
{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blueBg .box h2
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blueBg .box button
{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: navajowhite;
    border: none;
}

.formBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 0 5%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.formBx.active
 {
    left: 50%;
    border-radius: 0 15px 15px 0;
 }

 .formBx .form
 {
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 
 .formBx .signinForm
{
    transition-delay: 0.25s;
}
 .formBx.active .signinForm
 {
    left: -100%;
 }

 .formBx .signupForm
 {
    left: 100%;
    transition-delay: 0;
 }

 .formBx.active .signupForm
 {
    left: 0;
    transition-delay: 0;
 }


 .formBx .form form
 {
    width: 100%;
    display: flex;
    flex-direction: column;
 }

 .formBx .form h3
 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
 }

 .formBx .form form input
 {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
 }

.formBx .form form input[type="submit"]
 {
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    border-radius: 5px;
    cursor: pointer;
 }

 .formBx .form form input:focus
{
    box-shadow: none;
}

@media (max-width: 660px)
{
    .Account
    {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Account .blueBg
    {
        top: 0;
        height: 500px;
    }
    .formBx
    {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
        border-radius: 15px 15px 0 0;
    }
    
    .blueBg
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .blueBg .box 
    {
        /* position: relative;  */
        width: 100%;
        height: 0px;
        bottom: -50px;
    }
    .box .signin
    {
        
        top: 0;
    } 
    .formBx.active
    {
        left: 0;
        top: 150px;
        border-radius: 0 0 15px 15px;
    }
}
